* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  margin-bottom: 70px;
  width: 100%;
  padding: 0 60px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.basic a {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  padding: 6px;
  position: relative;
}

.basic a:focus::after {
  width: 100%;
  right: 0;
}

.basic a::after {
  content: "";
  width: 0;
  height: 4px;
  bottom: 0;
  left: 0;
  position: absolute;
  background: linear-gradient(to left, #ffcb9e, #fa9531 100%);
  transition: width 0.5s ease 0s, right 0.5s ease 0s;
}

.allitemsbasket {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.addbasket a {
  color: #ffffff;
  width: 30px;
  border-radius: 100%;
  background-color: #ff5100;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
  transition: transform 450ms;
}

.addbasket a:focus {
  transition: transform 125ms;
  transform: scale(1.2);
}

.main {
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 34px;
  row-gap: 20px;
  align-content: flex-start;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: 23%;
  min-width: 31%;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.card-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.card-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.card-body a {
  width: 200px;
  height: 48px;
  border-radius: 8px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.1px;
  color: rgba(0, 0, 0, 0.87);
  padding: 12px;
  text-align: center;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}
