* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav {
  margin-bottom: 50px;
  width: 100%;
  padding: 0 60px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 24px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
/* .basic a {
  color: #000000;
  text-decoration: none;
  display: inline-block;
  padding: 6px;
  position: relative;
} */

nav a {
  text-decoration: none;
  color: #000;
}

.active {
  background-image: linear-gradient(90deg, #e67399, #f2a640);
  background-position: bottom;
  background-size: 100% 15%;
  background-repeat: no-repeat;
}

.allitemsbasket {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.addbasket a {
  color: #ffffff;
  width: 30px;
  border-radius: 100%;
  background-color: #ff5100;
  display: flex;
  align-items: center;
  justify-content: center;
  will-change: transform;
  transition: transform 450ms;
}

.addbasket a:focus {
  transition: transform 125ms;
  transform: scale(1.2);
}

.main {
  width: 100%;
  padding: 0 100px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 34px;
  row-gap: 20px;
  align-content: flex-start;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container {
  max-width: 23%;
  min-width: 31%;
}

.card-body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
}

.card-title {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.card-price {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}

.btn-grad {
  background-image: linear-gradient(
    to right,
    #ece9e6 0%,
    #ffffff 51%,
    #ece9e6 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
  transition: 0.5s;
  border: none;
  cursor: pointer;
  background-size: 200% auto;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  display: block;
}

.btn-grad:hover {
  background-position: right center;
  color: #000000;
  text-decoration: none;
}
